<div class="container">

 <div class="container-all">
    <div class="d-flex">
      <div class="container-bookings">
        <h2>My bookings</h2>
        <ul class="list-inline">
          <% @bookings.each do |booking| %>
            <li> <%= booking.offer.area %>, â‚¬ <%= booking.offer.price %>  <%= link_to("ðŸ—‘ï¸", offer_booking_path(booking.offer.id, booking.id), method: 'delete', data: { confirm: "Are you sure?" }, class: "text-decoration-none") %>  </li>
          <% end %>
        </ul>
      </div>

      <div class="container-offers">
        <h2>My offers</h2>
        <ul class="list-inline">
          <% @offers.each do |offer| %>
            <li> <%= offer.area %>, â‚¬ <%= offer.price %> <%= link_to("ðŸ—‘ï¸", offer_path(offer.id), method: 'delete', data: { confirm: "Are you sure?" }, class: "text-decoration-none") %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>
