<div class="container">
  <h2>Your booking has been confirmed!</h2>

  <div class="container">
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <ul>
        <li>Email: <%= @booking.user.email %> </li>
        <li>Price: <%= @booking.offer.price %> </li>
        <li>Area: <%= @booking.offer.area %> </li>
        <li>Start date - <%= @booking.start_date %></li>
        <li>End date - <%= @booking.end_date %></li>
      </ul>
    </div>
  </div>
</div>
