<div class="container">
  <%= link_to("< Back to offers", offers_path)%>
  <div class="top-container">
    <div class="top-left-container">
      <h1><%= @offer.area %></h1>
      <img src="https://i.pinimg.com/564x/0e/5a/59/0e5a593333842e06c69ac53ef8ea8f0d.jpg" class="rounded-5"/>
    </div>

    <%# map thing %>
    <div style="width: 50%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>

  <div class="bottom-container d-flex justify-content-between">
    <p><%= @offer.description %></p>
    <div class="bottom-right-container">
      <h3 class="text-center"><%= @offer.price %>$</h3>
      <% if @offer.user_id == current_user.id || current_user.admin == true %>
        <%= link_to(offer_path(@offer.id), method: :delete) do %>
          <div class="btn btn-ghost">Delete offer
          </div>
        <% end %>
      <% end %>
      <% if @offer.user_id == current_user.id || current_user.admin == true %>
        <%= link_to(edit_offer_path(@offer.id)) do %>
          <div class="btn btn-ghost">Edit offer
          </div>
        <% end %>
      <% end %>

      <% unless @offer.user_id == current_user.id %>
        <%= link_to(new_offer_booking_path(@offer.id)) do %>
        <div class="btn btn-ghost">Book this offer
        </div>
        <% end %>
      <% end %>


      <%# <%= link_to(new_offer_booking_path(@offer.id)) do %>
      <%# <div class="btn btn-ghost">Book this offer
      </div>
      <% end %>
    </div>
  </div>
</div>
